body {
    font: 16px Roboto, sans-serif;
    background-color: white;
}
@media only screen and (max-width: 1000px) {
    .registrieren{
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
@media only screen and (min-width: 1000px) {
    .registrieren{
        padding-left: 150!important;
        padding-right: 150!important;
    }
}

.logo {
    padding: 30px;
}

.loginbutton {
    background-color: transparent;
    padding: 7px;
    border: none;
    color: #0068ff;
    text-decoration: none;
    font-size: 20px;
}
.loginbutton:hover {
    border-radius: 5px;
    background-color: #0068ff;
    text-decoration: none;
    color: whitesmoke;
}

.margin {
    margin: 70px;
}

.registrieren {
    padding-left: 220px;
    padding-right: 220px;
}
