body {
    font-family: arial, sans-serif;
    background: aliceblue;
    margin: auto;

}
h1 {
    color: #fff;
    text-decoration: underline;
    background-color: antiquewhite;
    text-blink: 10%;
    margin: auto;
}


 .parallax {
     background-color: #2fff3d;
     height: 200px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

