body {
    font: 14px Roboto, sans-serif;
    background-color: white;
}


@media screen and (min-width: 576px) {
    .marginmedia {
        margin: 10%;
        padding-left: 20%;
    }
}

@media screen and (max-width: 576px) {
    .marginmediasm {
        margin-top: 5%;
    }

}

@media only screen and (max-width: 1000px) {
    .registrieren{
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
@media only screen and (min-width: 1000px) {
    .registrieren{
        padding-left: 150!important;
        padding-right: 150!important;
    }
}

.logo {
    padding: 30px;
}

.registerbutton {
    background-color: transparent;
    padding: 8px;
    border: none;
    color: #0068ff;
    text-decoration: none;
    font-size: 14px;
}
.registerbutton:hover {
    border-radius: 5px;
    padding: 5px;
    border: solid;
    border-color: #0068ff;
    background-color: transparent;
    text-decoration: none;
    color: #0068ff;
}
.loginbutton {
    background-color: transparent;
    padding: 7px;
    border: none;
    color: #0068ff;
    text-decoration: none;
    font-size: 14px;
}
.loginbutton:hover {
    border-radius: 5px;
    background-color: #0068ff;
    text-decoration: none;
    color: whitesmoke;
}

.margin {
    margin: 70px;
}

.registrieren {
    padding-left: 220px;
    padding-right: 220px;
}
.form-rounded {
    border-radius: 1rem;
}

.bildposten {
    background-color: white;
    margin: 5px;
    margin-bottom: 25px;
    color: gray;
}

.btn-primary {
    border-color: transparent;
}

.jumbotron-fluid {
    padding: 0;
    padding-bottom: 0px;
    border-color: white;
    height: 50%;
    margin-bottom: 30px;
}
.postings-margin {
    margin-left: 10px;
    margin-right: 10px;
}
.postings-padding {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-fit {
    object-fit: cover;
}

.swal2-confirm {
    background-color: red!important;
}